<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{330,140},{134,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{3,277},{134,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{246,383},{134,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{3,414},{134,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{383,794},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{467,140},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{246,277},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>long_finish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,474}</string>
                <key>spriteSourceSize</key>
                <string>{134,474}</string>
                <key>textureRect</key>
                <string>{{3,3},{134,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,324}</string>
                <key>spriteSourceSize</key>
                <string>{134,324}</string>
                <key>textureRect</key>
                <string>{{3,140},{134,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>long_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,218}</string>
                <key>spriteSourceSize</key>
                <string>{134,218}</string>
                <key>textureRect</key>
                <string>{{246,794},{134,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>long_tap2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{246,520},{134,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>long_tilelight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,238}</string>
                <key>spriteSourceSize</key>
                <string>{134,238}</string>
                <key>textureRect</key>
                <string>{{3,825},{134,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tile_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{3,551},{134,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tile_miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{246,657},{134,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tile_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{3,688},{134,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ccc3bd468c098a7eda5812e5105b74c:1e6c8154bd80b2bbbec5128acf08053e:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
