{
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "filepath": "src/**/*",
    "printWidth": 120,
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}
